{% extends "base.html" %}
{% block title %}Recomendaciones de Reciclaje{% endblock %}

{% block content %}
  <h2 class="mb-4">Recomendaciones de Reciclaje</h2>

  <div class="row gy-4">
    <!-- Recomendación 1 -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Limpia los envases antes de reciclar</h5>
          <p class="card-text">
            Antes de desechar plásticos, vidrios o cartones, lávalos y elimine restos de comida.
            Así evitamos contaminar el material reciclable.
          </p>
        </div>
      </div>
    </div>

    <!-- Recomendación 2 -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Reutilice siempre que sea posible</h5>
          <p class="card-text">
          Antes de desechar un objeto, piensa si puede tener otro uso. Muchos materiales pueden ser reutilizados de diferentes maneras.
          </p>
        </div>
      </div>
    </div>

    <!-- Recomendación 3 -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Usar Productos reciclados</h5>
          <p class="card-text">
            Decantarnos preferiblemente por productos de origen reciclado. De esta forma reducimos la necesidad de extraer materiales nuevos de la naturaleza y/o destinar recursos energéticos para procesarlos.
          </p>
        </div>
      </div>
    </div>

    <!-- Recomendación 4 -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Evite productos de un solo uso</h5>
          <p class="card-text">
            En lugar de bolsas plásticas de un solo uso,use bolsas reutilizables. 
            Prefiera envases reutilizables antes que desechables.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
